/* CSS files add styling rules to your content */

div {
  max-width: 900px;
  padding-left: 2%;
  padding-top: 0%;
}


a.bio:link {
  text-decoration: none;
}

a.bio:hover {
  background-color: #B8B8FF;
}


a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #1F84D6;
  background-color: #B8B8FF;
}

/* selected link */
a:active {
  color: #1F84D6;
}

body {
  background-color: white;

}

.logo {
  width: 120px;
  margin: 10px auto 0;
}

.info {
   font-family: "Nunito Sans", serif;
  max-width: 640px;
  
  padding: 20px;
  font-size: 18px;
}